.pokemon-container {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;

    @media (min-width: 1100px) {
        width: 50%;
    }
}

.pokemon-info {
    display: flex;
    text-align: left;
}

.pokemon-img {
    width: 50%;
    // display: flex;
    // justify-content: center;

    figure {
        // margin: auto;
        display: flex;
        justify-content: center;
        
        img{ 
            width: 300px;
            margin: 0 auto;
        }
    }
}

.pokemon-basic-info {
    margin-left: 30px;
    width: 50%;
}

.pokemon-name {
    margin-top: 30px;
    font-size: 2rem;
    text-transform: capitalize;
}

.pokemon-types {
    display: flex;
    margin: 20px 0;
}

.pokemon-type {
    padding: 5px 15px;
    margin-right: 10px;
    width: 45px;
    text-align: center;
}

.pokemon-stat {
    margin: 5px 0;
}

.pokemon-stats-bar {
    display: flex;
    flex-direction: row-reverse;
    height: 120px;
    margin-bottom: 5px;
    justify-content: flex-end;
}

.pokemon-stat-bar {
    position: relative;
    width: 40px;
    margin-right: 15px;
    text-align: center;
}

.pokemon-stats-tick {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: auto;
}

.pokemon-stat-tick {
    width: 40px;
    font-size: 0.8rem;
    text-align: center;
    text-transform: capitalize;
    margin-right: 15px;
}

.pokemon-evolution {
    margin: 20px 0;
    height: 180px;
}

.pokemon-evolution-container {
    display: flex;
    justify-content: center;
    // margin: auto;

    .pokemon-evo-single {
        width: 25%;
        display: flex;

        span {
            width: 25%;
            margin: auto 5%;
            font-size: 3rem;
        }
    }
}

.pokemon-evo-img {
    width: 70%;

    figure img {
        max-width: 100%;
    }
}