.pokemon-container {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.pokemon-info {
    display: flex;
    text-align: left;
}

.pokemon-img {
    // width: 50%;

    figure img {
        width: 300px;
    }
}

.pokemon-basic-info {
    margin-left: 30px;
}

.pokemon-name {
    margin-top: 30px;
    font-size: 2rem;
    text-transform: capitalize;
}

.pokemon-types {
    display: flex;
    margin: 20px 0;
}

.pokemon-type {
    padding: 5px 15px;
    margin-right: 10px;
    width: 45px;
    text-align: center;
}

.pokemon-stat {
    margin: 5px 0;
}

.pokemon-stats-bar {
    display: flex;
    flex-direction: row-reverse;
    height: 120px;
    margin-bottom: 5px;
}

.pokemon-stat-bar {
    position: relative;
    width: 40px;
    margin-right: 15px;
    text-align: center;
}

.pokemon-stats-tick {
    display: flex;
    flex-direction: row-reverse;
}

.pokemon-stat-tick {
    width: 40px;
    font-size: 0.8rem;
    text-align: center;
    text-transform: capitalize;
    margin-right: 15px;
}